<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Kilroy</string>
	<key>CFBundleExecutable</key>
	<string>Kilroy</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Kilroy</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.400346734840-p4mhtekh7ugdmatd54cdnrudvn1v3nc0</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>GIDClientID</key>
	<string>400346734840-p4mhtekh7ugdmatd54cdnrudvn1v3nc0.apps.googleusercontent.com</string>
	<key>NSCameraUsageDescription</key>
	<string>Kilroy uses your camera to capture new memories.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Kilroy uses your location in the background to notify you when you're near a memory.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Kilroy uses your location to surface memories at the places you took them.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Kilroy uses your microphone to record video memories.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Kilroy scans your photo library to find geotagged memories and surface them at the right places.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
		<key>UIImageName</key>
		<string></string>
	</dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
